body{
    margin:0;
    padding: 0;
}
.rating2
{
  position:absolute;
  top:115%;
  left:55%;
  transform:translate(-50%,-50%) rotateY(180deg);
  display:flex;
}
.rating2 input{
display: none;
}
.rating2 label{
  display:block;
  cursor:pointer;
  width:45px;
}

.rating2 label:before{
  content:'\f005';
  font-family:fontAwesome;
  position:relative;
  display:block;
  font-size:50px;
  color:#101010;
}
.rating2 label:after
{
  content:'\f005';
  font-family:fontAwesome;
  position:absolute;
  display:block;
  font-size:50px;
  color:#1f9cff;
  top:0;
  opacity: 0;
  transition:.5s;
  text-shadow:0 2px 5px rgba(0,0,0,.5);
}
.rating2 label:hover:after,
.rating2 label:hover~label:after,
.rating2 input:checked ~label:after{
  opacity:1;
}
